/* HEADER */
header.section .inner {
    max-width: none;
    height: 100%;
    display: block;
    position: relative;
}

header .toggle-btn {
    float:left;
}

header .title-group a{
    padding: 18px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
}


header .btn-group {
    display: none;
}


/* SIDE BAR */
.sidebar {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: 1px solid #eee;
    position: fixed;
    z-index: 1;
    background:#fff;
}

.sidebar.toggle{
    visibility: hidden;
    width: 0;
    left:-500px;
    transition: all 0.5s;
}

.sidebar.toggle.on{
    visibility: visible;
    width: 100%;
    left:0px;
}

.sidebar #search-form{
    max-width: 600px;
}

.sidebar .btn-group {
    margin-top: 15px;
    display: flex;
    max-width: 600px;
    justify-content: left;
}
.sidebar .btn-group .sign-in {
    width: 100%;
    margin-right: 5px;
}
.sidebar .btn-group .sign-up {
    width: 100%;
    margin-left: 5px;
}


.toggle-btn {
    background: url("../img/toggle_blue.svg");
    width: 25px;
    height: 18px;
    cursor:pointer;
    text-indent: -9999px;
    margin: 20px 0px;
}


/* VISUAL */
.section--visual {
    margin-top: 40px;
}

.section--visual .summary__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 16px;
    padding-bottom: 12px;
}

.section--visual .board .post_info ul{
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: black;
}

.section--visual .board .post_info ul li:first-child{
    float: left;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: black;
    margin-left: 5px;
    padding-top:8px;
}

.section--visual .board .post_info ul li{
    float: left;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    color: black;
    margin-left: 5px;
    padding-top:8px;
}